html {
    background-color: whitesmoke;
}

.app {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.rating, .analysis, .reviews, .side, .visits {
    border: 1px solid lightgray; 
    background-color: lightgray;
    margin: 20px;
  }

 .side {
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .analysis {
     text-align: center;
 }

 .visits {
     grid-row: 2 3 4;
     grid-column: 2/5;
     height: 50vh;
 }